@import '../fonts/prata/stylesheet.css';
@import '../fonts/ptfs5/stylesheet.css';

*{
   margin:0;
   padding:0;
   font-family: prataregular;
}

/* header */

   /*new*/
.eip-container{
   margin:0;
   padding:0;
   border-radius:none !important;
   max-width:100%;
   min-width:100%;
}

.eip-row{
   margin:0px;
}
  
.eip-col{
   padding:0;
   height:50px;
} 

header{
   background:#002356;
   color:#fff;
   min-width:100%;
   height:auto;
   padding:0 !important;
   height: 170px;
   /* font-size:0.688em; */
}

header a:first-child{
   color:#fff !important;
   text-decoration:none;
}

.eip-title{
   margin: 23px 0px -25px 25px;
   float: left;
}

.eip-title p{
   /* font-size: 18px; */
   font-size: 1.313em;
   margin-bottom: 15px;
   position: relative;
   left: 100px;
   top: -46px;
   line-height:1.2;
}

nav{
   float:right;
   margin-top: 132px;
   margin-right:12px !important;
}

.eip-nav-ul{
   display:inline;
}

.eip-nav-ul li, .eip-nav-ul-mobile li {
   display:inline;
   list-style:none;
   border-right:1px solid #fff;
   padding:5px 0px;
}

.eip-nav-ul li a, .eip-nav-ul-mobile li a, .eip-dropdown-menu li a{
   color:#fff;
   text-decoration:none;
   padding:0px 15px;
}

.eip-nav-ul li a:hover,.eip-dropdown-menu li a:hover{
   color:#3990dc; 
}

.eip-nav-ul-mobile li:hover{
   opacity:.9;
}

.eip-last-li{
   border-right:none !important;
}

.eip-dropdown-menu, .eip-dropdown-menu-mobile{
   z-index:0;
}

.eip-dropdown-menu{
	/*display: none;*/
	background: #285677;
	opacity: .8;
	height: 45px;
	width: 100%;
	position: absolute;
	z-index: 1000;
	left: 0;
	top: 169px;
	font-size:0.813em;
	/* font-size: 0.938em;   */
}
   
.eip-dropdown-menu-mobile{
	display: none;
	background: #285677;
	opacity: .8;
	height: 45px;
	width: 100%;
	position: absolute;
	z-index: 1000;
	left: 0;
	top: 178px;
	/* font-size: 0.938em; */
}

.eip-dropdown-menu ul, .eip-dropdown-menu-mobile ul{
   float:right;
   padding:0px 15px 0px 0px; 
}

.eip-dropdown-menu li, .eip-dropdown-menu-mobile li{
   border:none !important;
   padding-top: 13px !important;
   display: inline-block;
}

.eip-dropdown-menu li a, .eip-dropdown-menu-mobile li a{
   border:none !important;
   font-family:'pt_sansregular';
   padding:0px 15px;
}

.eip-mobile-nav{
   display:none;
}   

.eip-dropdown-menu-mobile{
   opacity: .9;
   background: #002549;
   font-size: 1.188em;
}

.eip-dropdown-menu-mobile li{
   text-align:center;  
   background: #002549;
   /* border-top:1px groove #002356 !important; */
   display: inline;
}

.eip-dropdown-menu-mobile li a{
   text-decoration: none;
   padding: 20px 0 !important;
   display: block;
   /* border: 1px inset #002356 !important; */
   /* font-size: 1.188em !important; */
}
   
.page-label{
   position: absolute;
   width: 100%;
   background: green;
   text-align: center;
   top: 145px;
   background: #002E66;
   opacity: .95;
   padding: 20px 0px;
}

.page-label span{
   font-size: 1.188em;
}

.eip-border-top {
   border-top:1px solid #000000 !important;
}

.eip-border-bottom {
    border-bottom:1px solid #000000 !important;
}

/*banner*/
.eip-banner img{
   width: 100%;
}

#content{
   background: #fff;
   clear: both;
   height:100%;
   overflow:hidden;
}

/*end banner*/

/* modal */
.eip-modal-content{
   text-align: center;
   border-radius: 0px;
   box-shadow: 12px 15px 30px;
   border: none;
}

.eip-modal-header{
   border:none;
   padding-top: 47px;
}

.eip-modal-close{
   font-size:5em;
   font-weight:100;
   margin-top: -51px !important;
}

.eip-modal-body{
   padding: 0px 60px;
   font-size: 0.875em;
}

.modal-title {
   font-size: 1.125em;
   color:#22467A !important;
}

.eip-modal-body p{
   line-height:2;
   margin:20px 0px;
}

.eip-modal-footer{
   border: none;
   text-align: center;
   padding: 81px 0px 48px 0px;
   margin: 0;
}

#login .eip-modal-footer{
   padding-top: 32px;
}

.eip-modal-footer #accept-btn, .eip-modal-footer #dont-accept-btn, .eip-modal-footer #login-btn {
   color: #fff;
   background: #22467A;
   border-radius: 0px;
   height: 53px;
   font-size: 1.0em;
}

.eip-modal-footer #accept-btn, .eip-modal-footer #login-btn {
   width: 207px !important;
}

.eip-modal-footer #dont-accept-btn{
   padding: 0 25px;
}

   /* disclaimer */
#disclaimer{
   background:#fff;
   opacity:.9;
   width:100%;
   height:100%;
}

#disclaimer .eip-dialog{   
   width: 864px;
}
   /* end disclaimer */
   
   /* login */
#login{
   background:#fff;
   opacity:.93;
   width:100%;
   height:100%;
}

#login .eip-dialog{
   width:516px;
   height:559px;
}

#login .eip-modal-body p:first-child{
   margin-bottom:30px;
}

#login .eip-modal-body input{
   width: 345px;
   height: 51px;
   background: #EDEDED;
   border: none;
   padding: 0px 0px 0px 20px;
}

#login .eip-modal-body p:last-child{
   margin-top:20px;
}

#login .eip-modal-footer button{
   margin-bottom:55px;
}
.nav-tab-desk{
	font-size: 0.68em;
}
.nav-tab-desk, .eip-nav-ul {
   /*font-size: 0.688em*/
}
   /*end login*/
/*end modal*/

/* add your body rule here */
body {
     width:100%;
	/* overflow:hidden;*/
	font-family: prataregular, pt_sansregular;
	font-size:16px;
}

body p{
  line-height: 2.2em;
}  

/*content */

	/*without the sidebar*/
#content {
   padding-bottom: 25px;	
}
	
.primaryContent { 
   margin: 20px 0 20px 20px;
   width: 50%;
   text-align:left;
   color:#616161;
   /* font-size:0.875em  !important; */
   padding-bottom: 10%;
   padding-left:58px !important;
}

.primaryContentRight{
   width: 59%;
   float: left;
   margin-bottom: 70px;
   padding-left:43px;
   font-size:0.875em;
}

/* .primaryContentRight p{
   width:72%;
} */

.primaryContentRight p, ul {
  color:#616161;
}

#dueDiligenceContent {
   width: 70%;
   margin-top: -10px !important;
   font-size:0.875em;
}

hr {
   border:0px;
}

.primaryContent h2 {
   margin-bottom: 30px;
   color:#22467A;
   font-size:1.125em;
}

.primaryContentRight h2 {
   color:#22467A;
}

.primaryContent h3{
    color: #22467A;
	opacity:0.9;
    font-size: 0.875em;
} 

.primaryContent p{
    /*line-height: 30px;*/
	margin-bottom: 32px;
	color:#616161;
 }
 
 .primaryContent ul {
    margin-bottom: 43px;
	line-height: 19px;
	color:#616161;
 }
 
 .primaryContent a {
    color:#22467A;
  }

.primaryContent ul li:before, .primaryContentRight ul li:before {
   content:"-";
   position:relative; 
   right: 8px;
}

.primaryContent ul li, .primaryContentRight ul li{
	list-style:none;
	padding:0;
	margin:10px;
}

.primaryContentRight  h3{
    /* font-size: 0.875em; */
	color:#22467A;
}

.primaryContentRight #map {
    float: right;
	width:40%;
	/* margin-top: 78px; */
	margin-left: 10%;
}

.primaryContentImage {
   margin-top:15%;
}

.primaryContent ol {
   list-style:none;
}

.primaryContent ol a {
   text-decoration:underline;
}

.subHead{
    color: #84CAF0 !important;
	opacity:0.5;
}

#content {
   background-color:#ffffff;
   top: 10px;
   position: relative;
   padding-top: 30px;
   /*font-size: 0.875em;*/
}
.primaryContent p,.primaryContent h3,.primaryContent ul,.linksLeft ul,#teamPersonnelContent.teamPrimaryContent p,#teamPersonnelContent.teamPrimaryContent h3{
	font-size:0.875em;
}
#teamContent.primaryContent p{
	font-size:1em;
}
.contact_mobile .linksLeft.contactPage{
	font-size:0.875em;
	color:#616161;
}
.contactPage strong.contact{
	color:#000;
}
#leftsidebar {
   width:18%;
   float:left;
   margin-left:45px;
}

#linksLeft {
   margin-left:45px;
}

#fundObjective {
   background-color:#DADFE7;
   float:left;
   width:275px;
   height:380px;
   margin-top:25px;
   font-size:0.917em;
}

#fundObjectiveData {
   margin-top:10px;
   margin-left:25px;
   width:215px;
   line-height:15px;
}

#fundObjectiveData p, .heading{
   font-weight:bold;
   list-style:none;
   margin:0;
   display:inline;
 
}

#vertical-line {
   height:45px;
   width:1px;
   background-color:#000000;
   height:605px;
   float:left;
   margin-right:50px;
}

#content a{
    /* color: #22467A; */
	 background: #fff;
    /*  top: 240px; */
     position: relative;
}

#active, #subMenuActive{
  color:#85cbf1 !important; 
}

#mapLink {
   float:right;
   width:285px;
   height:241px;
   margin-bottom:200px;
}

#informationRight img {
   float:right; 
   height:237px;
   padding-right:360px;
}

#dataRight {
  width: 500px;
   background-color:#DADFE7;
}

.regional_index_label{
 color:#000;
}

/* footer */
footer{
	/* padding-top: 5px; */
	font-size: 0.750em;
	/* font-weight: bold; */
	background-color: #002356;
	color: #ffffff;
	position: fixed;
	bottom: 0;
	width: 100%;
	font-family: 'pt_sansregular' !important;
} 

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 25px;
}

footer p,footer ul{
   padding-bottom: 0px;
   margin-bottom: 0px;
   margin-top: 4px !important;
}

footer p{
   margin-left: 17px;
	float: left;
	margin-top: 3px;
   padding: 0 !important;
	font-family: 'pt_sansregular' !important;
}

footer #footer-menu{
   float: right;
   margin-top: 10px;
   line-height:2;
   
}

footer ul li{
   padding:0px 5px;
   display: inline;
}

footer ul li a{
  color: #ffffff;
  font-family: 'pt_sansregular' !important;
}

footer ul li a:hover {
   text-decoration:none;
   color:#2a6496;
}

#menu-last-child{
   padding-right:18px;
}
/* end footer*/

/*header, banner and modal media queries*/
/* for screen resolution > 960px*/
@media screen and (min-width:960px){
   .nav-mobile, .eip-dropdown-menu-mobil, .page-label, .eip-dropdown-menu-mobile{
      display:none !important;
      
   }
   nav{
      display:block !important;
   }
}
/* end for screen resolution > 960px*/

/* for tablet */   
@media screen and (min-width:768px) and (max-width:1100px){
   .nav-mobile, .eip-dropdown-menu-mobile, .page-label{
      display:none !important;
   }
   
   header{
      height: 120px;
   }
   
   nav{
      display:block !important;
   }
   
   .eip-title img{
      width: 50px;
   }
   
   .eip-title p{
      font-size: 0.875em;
      left: 60px !important;
      top: -31px !important;
   }
     
   .col-sm-12{
      width:100%;
      padding:0 !important;
   }
   
   nav{   
     float:right;
     margin-top: 90px;
	  margin-right:5px !important;
   }

   .eip-nav-ul{
      display:inline;
   }

   .eip-nav-ul li, .eip-dropdown-menu li{
      display:inline;
      list-style:none;
      border-right:1px solid #fff;
      padding:0px 5px;
   }
   
   .eip-nav-ul li a, .eip-dropdown-menu li a{
      /* font-size:1.313em; */
      padding:0px 5px;
   }
   
   .eip-last-li a{
      padding-right:15px !important;
   }
   
   li .eip-dropdown, .eip-dropdown, .eip-dropdown a{
      z-index:-1 !important;
   }
   
   .eip-dropdown-menu{
      top:120px !important;
      height: 32px;
      padding:0px;
   }
   
   .eip-dropdown-menu ul{
      float: right;
      padding:0px;
      height: 0px !important;
      margin-top: 7px;
   }
   
   .eip-dropdown-menu ul li a{
     font-size: 0.813em !important;
   }
   
  /*  .eip-banner img{
      height: 350px;
      margin-top: -26px;
   } */
     
   #disclaimer .eip-dialog, #login .eip-dialog{   
      width:100%;
      height:100%;
      margin:0 !important;
   } 
   
   #login .eip-modal-content{
      height: 100%;
   }
   
   #disclaimer .eip-modal-content{   
      font-size: .9em;
      width:100%;
      height:100%;
      padding-top: 25px;
   }
   
   #disclaimer .eip-modal-body{
      padding: 5px 135px;
   }
   
      
   #disclaimer .eip-modal-footer {
      padding:0 !important;
   }
   
   .eip-modal-footer button{
      width:186px;
      height:45px;
      font-size:1em;
   }
}

/* end for tablet */
   /*nend new*/
   
/*for mobile resolution < 767px*/
@media screen and (max-width:767px) /* and (min-width:767px) */{
      
   header{
      height:145px;
   }
   .eip-title{
      margin: 23px 0px -39px 13px;
   }
   
   .eip-title img{
      width:60px;
   }
   
   .eip-title p{
      font-size: 1.063em !important;
      left:75px !important;
      top:-37px !important;
   }
   
   .eip-mobile-nav{
      display:block;
      float:right;
      background:none;
      border:none;
      width:40px;
      position:absolute;
      right:30px;
      top:80px;
   }

   .eip-iconbar{
      display: block;
      width: 100%;
      height: 2px;
      border-radius: 1px;
      background:#fff;
      margin:8px 0;
   }
   
   .nav-tab-desk, .eip-nav-ul, .eip-dropdown-menu{
      display:none !important;
   }
   
   .nav-mobile{
      display:none;
      float:none;
      position:absolute;
      width:100%;
      margin:0px;
      top:145px;
      z-index:950;
      font-size: 1.188em;
   }
  
   .eip-nav-ul-mobile{
      display:block;
      text-align:center;
      width:100%;
   }
   
   .eip-nav-ul-mobile li{
      display:block;
      background:#002E66;
      border-right:none;
      border-bottom: 1px outset #002356;
      opacity:.95;
   }
   
   .eip-nav-ul-mobile li:last-child{
      border:none !important;
   }
   
   .eip-nav-ul-mobile li a{
      display:block;
      /* font-size: 1.188em; */
      padding:20px 0px;
   }
    
   .eip-dropdown-menu-mobile{
      top: 300px;
      height: 204px;
      padding: 0px;
   }
   
   .eip-dropdown-menu-mobile ul{
      position:absolute !important;
      width: 100%;
      padding: 0;
      height:0px !important;
   } 
   
   #disclaimer .eip-modal-content{   
      font-size: .8em;
      width: 100% !important;
      height: 100%;
   }
   
   #disclaimer .eip-dialog{
      margin: 0;
      width:100%;
      height: auto;
   }
   
   #disclaimer .eip-modal-header{   
      margin-top:0px;
   }
   
   #disclaimer .eip-modal-body{
      padding: 5px 50px;
   }
   
   #login .eip-modal-content{
      width:100%;
      height:100%;
   }
   
   .eip-modal-footer button{
      width: 207px;
      height: 40px;
      font-size: 1em;
   }
   
   #login .eip-dialog {
      width: 100% !important;
      height: 950px !important;
   }
}
/*end for mobile resolution < 767px*/

/*end for mobile resolution < 360px*/
@media screen and (max-width:360px){
      
   header{
      height:111px;
   }
   footer #footer-menu{
	font-size:0.5em !important;
   }
   .eip-title img{
      width:40px;
   }
   
   .eip-title p{
     font-size: 1.131em;
      left: 50px !important;
      top: -37px !important;
   }
   
    
   .nav-tab-desk, .eip-nav-ul, .eip-dropdown-menu{
      display:none !important;
   }
   
   .eip-dropdown-menu{
      display:none !important;
   }
   
   .nav-mobile{
      display:none;
      float:none;
      position:absolute;
      width:100%;
      margin:0px;
      top:110px;
      z-index:950;
   }
  
   .eip-nav-ul-mobile{
      display:block;
      text-align:center;
      width:100%;
   }
   
   .eip-nav-ul-mobile li{
      display:block;
      background:#002356;
      border-right:none;
      opacity:.95;
   }
   
   .eip-dropdown-menu-mobile{
      top:265px;
   }
   
   .eip-dropdown-menu-mobile ul{
      display:relative;
      height:0px !important;
   } 
   
   .eip-mobile-nav{
      display:block;
      float:right;
      background:none;
      border:none;
      width:40px;
      position:absolute;
      right:15px;
      top:55px;
   }

   .eip-iconbar{
      display: block;
      width: 100%;
      height: 2px;
      border-radius: 1px;
      background:#fff;
      margin:8px 0;
   }
   
   .page-label{
      top:110px;
   }
   
   #disclaimer .eip-dialog, #login .eip-dialog{   
      width:100%;
      /* height:1000px; */
      margin:0;
   }
   
   #disclaimer .eip-modal-content{   
      font-size: .8em;
      width:100%;
      /* height:850px; */
      height:auto;
   }
   
   #disclaimer .eip-modal-header{   
      margin-top:0px;
      font-size: 1.1em;
   }
   
   #disclaimer .eip-modal-body{
      padding: 5px 15px;
   }
   
   #disclaimer .eip-modal-body p{
      margin:0px;
   }
   
   #disclaimer .eip-modal-footer{
      padding:0;
      margin-top:10px;
   }
   
   #login .eip-modal-content{
      width:100%;
      /* height:950px; */
      font-size:.8em;
   }
   
   #login .eip-modal-body input{
      width:100%;
      height:100%;
      font-size:.8em;
      width:161x;
      height: 51px;
   }
   
   #login .eip-dialog {
      width: 100% !important;
      /* height: 950px !important; */
   }
   
   .eip-modal-footer button{
      width:100px;
      height:40px;
      font-size:.6em;
   }
   
   #footer-menu{
      margin: 0;
   }
   
   footer ul{
      margin:5px 0px 0px 0px !important;
      padding: 0 !important;
      margin-right: 5px !important;
   }
   
   footer ul li{
      padding:0px;
   }
   
   footer p{
     padding: 0px 0px 0px 0px !important;
     margin: 2px 0px 0px 0px !important;
     margin-left: 5px !important;
   }
   
   footer #menu-last-child{
      padding:0 !important;
   }
   
   .eip-modal-footer #dont-accept-btn{
      width: 207px;
      margin: 0 !important;
   }
   
}
/*end for mobile resolution < 360px*/
/*end header, banner and modal media queries*/
.org-struct {
   font-size:0.625em;
   float:left;
   padding-left:43px;
}

.primaryContent p{

}

.eip-staff {
   line-height:1em;
}

.eip-staff p {
   color:#ffffff !important;
}

#top-org-struct {
   width:34%;
   float:left;
   margin-left:25%;
 }

.primaryContent .org-struct .head{
   margin:auto;
   width:362px;
   padding-right:10px;
   padding-bottom:10px;
   text-align: center;
}

.head li{
   background-color:#344964;
   padding: 10px 10px 10px 10px;
   text-align: center;
   color:#fff;
   font-size:18px; 
   margin: 0 0 5px 0;   
   font-family: 'pt_sansregular';
}

/* team page */
.teamPrimaryContent, #dueDiligenceContent{
   /*width: 100%;*/
}

#teamPersonnelContent {
    width:30%;
}

.teamPrimaryContent .body{
   width:90%;
} 

#team {
   margin-top: 0px  ;
}

.teamPrimaryContent p {
   /*margin-bottom: 8% !important;*/
   
}

.primaryContent .org-struct thead tr{
   background:#83C8EF;
}

.primaryContent .org-struct thead td {
   color:#2B343F;
   font-size: 18px !important;
   font-family: 'pt_sansregular';
}

.primaryContent .org-struct tr{
   background:#344964;
   padding:5px;
}

.primaryContent .org-struct td { 
   color:#FFFFFF;
   text-align:center;
   font-size: 14px;
   padding: 5px 10px;
   height: 51px;
   width: 221px;
   margin: 27px 0;
   border: 5px solid #fff;
}
.primaryContent .eip-staff{
	line-height:1.5em;
}
.primaryContent .org-struct .head p,.primaryContent .org-struct td p{
   /* line-height:1.5em; */
   margin:0px;
   /* font-size: 1.2em;; */
}

.org-hidden{
   background:#FFFFFF;
}

#content .eip-team-org-struct{
   padding: 0px 0px 440px 51px;
}

#linksLeft .sidebarimage{
   width:0 !important;
}

.team-title{
   color:#4A648D;
}
/* end team page */

#leftSidebar {
	padding-right: 50px;
	 float: left !important;
	width: 40%;
	padding: 0px 0px 70px 51px;
	max-width: 350px;
}

.contactPage {
    padding-right: 50px;
	 float: left !important;
	width: 31%;
	padding: 0px 0px 70px 51px;
}

#leftSidebar h2{
	margin-bottom:45px;
	font-size:1.6em !important;
	line-height: 16px;
}

#leftSidebar ul {
   list-style:none;
   text-decoration:none;
}

.linksLeft {
  margin-bottom:40px;
  line-height: 0.875em;
}

.linksLeft li{
   list-style:none;
   margin-bottom:16px;
   
}

.linksLeft li a{
  text-decoration:none;
  color: #22467A;
}

.linksLeft li a #active{
  color:#428bca;
}

.my-well{
    background-color: #DADFE7;    
	margin-top: 25px; 
	padding: 20px 5px 88px 15px;
	line-height: 0.875em;
	overflow: hidden;
	width:88%;
	color: #000000;
	font-size:0.875em;
}

.my-well-content {
    background-color: #DADFE7;
	/* margin-top: 25px; */
	/* font-size: 14px; */
	padding: 3% 3% 5% 5%;
	line-height: 2.4em;
	overflow: hidden;
	width:100%;
}

.my-well span {
   line-height:20px;
}

.border-right{
   border-right: 1px solid #8E8A8A;
}

.my-well p{
   padding:0px;
   line-height:23px;
}

.not-strong{
  color:#616161;
}
.content{
	overflow: hidden;
}

.sidebarImgWrapper {
   width:88%;
    margin-top:8%;
}

.sidebarimage {
	margin-top: 1px;
	width: 100%;
}

#content-title {
	width: 100%;
	line-height: 0px;
	margin-bottom: 46px;
	padding-left: 50px;
	color:#22467A;
	font-size:1.125em;
}

.otherTitle {
	width: 100%;
	line-height: 0px;
	margin-bottom: 40px;
	padding-left: 50px;
	font-size:1.125em;
    color:#4A648D !important;
}

.pressPrimaryContent, .duePrimaryContent {
   float:left;
   line-height: 31px;
   padding-left:43px;
}

.pressPrimaryContent ol li {
   list-style:none;
   text-decoration:none;
}

.pressPrimaryContent a {
   text-decoration:underline;
   color: #4A648D;
}

#banner img {
	width: 100%;
}

#dueDiligenceLinks ul li{
   list-style:none;
   margin-bottom:14px !important;
   text-decoration: underline;
   margin-left:0px;
}

#dueDiligenceLinks ul li:before{
   content:' ';
}

.duePrimaryContent a{
   color:#4A648D;
}

#dueDiligenceLinks ul li a {
  color:#4A648D;
}

.keyFeatures{
	cellpadding:15px !important;
	line-height:33px;
	width: 100%;
	padding-bottom:10%;
	font-size: 0.875em !important; 
}

.primaryContentRight table tr{
   background-color:#485B73 ;
   color:white;
}

#heading{
   background-color:#485B73 ;
   color:white;
   width: 39%;
}


.primaryContentRight table th {
   float:left;
   padding-left:1.2em;
}

.primaryContentRight table td{
    border:1px solid white;
	background-color:#E5E9EF;
	padding-left:1.2em;
	padding-top: 5px;
	padding-bottom: 5px;
}

.eipOverContent {
   color:#22467A;
   font-size: 1.0em;
}

.primaryContentRight .keyFeatures table td {
   color:#616161;
}

.leftColumn {
  width: 15%;
}

#heading .leftColumn {
    width: 15%;
}

.keyFeatures td {
  color:#616161;
  text-align:none;
}

.contactPrimaryContent {
   width: 70% !important;
   /* overflow:hidden; */
}

#mapContact {
    position: relative;
	height: 100%;
	width: 40%;
	padding-bottom: 55%;
	overflow: hidden;
	max-width:413px;
	max-height:307px;
}

#mapContact #contactMap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*height: 45%;*/
}

.contact  {
   color: #22467A;
}