.keyFeatures{
	cellpadding:15px !important;
	line-height:33px;
	width: 100%;
	padding-bottom:10%;
	font-size: 0.875em !important; 
}

.primaryContentRight table tr{
   background-color:#485B73 ;
   color:white;
}

#heading{
   background-color:#485B73 ;
   color:white;
   width: 39%;
}


.primaryContentRight table th {
   float:left;
   padding-left:1.2em;
}

.primaryContentRight table td{
    border:1px solid white;
	background-color:#E5E9EF;
	padding-left:1.2em;
	padding-top: 5px;
	padding-bottom: 5px;
}

.eipOverContent {
   color:#22467A;
   font-size: 1.0em;
}

.primaryContentRight .keyFeatures table td {
   color:#616161;
}

.leftColumn {
  width: 15%;
}

#heading .leftColumn {
    width: 15%;
}

.keyFeatures td {
  color:#616161;
  text-align:none;
}

.contactPrimaryContent {
   width: 70% !important;
   /* overflow:hidden; */
}

#mapContact {
    position: relative;
	height: 100%;
	width: 40%;
	padding-bottom: 55%;
	overflow: hidden;
	max-width:413px;
	max-height:307px;
}

#mapContact #contactMap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 45%;
}

.contact  {
   color: #22467A;
}