/*for devices with width of 600 and height 800*/
/* @media screen and (min-width: 320px) {
	 
	 h2 {
	     font-size:16pt !important;
	 }
	 
	 h3 {
	     font-size:14pt !important;
	 }
	 
	 .primaryContent, .primaryContentRight {
	   width:100% !important;
	   margin:0 !important;
	   font-size:12pt !important;
	   padding-left:30px;
	   padding-right:30px !important;
	   padding-top:50px;
	 } 
	 
	 .primaryContent .org-struct {
	      font-size:11px;
		  width:100% !important;
		  padding-top:70%;
	 }
	 
  } */
  
   @media screen and (max-width: 365px) {
        .org-struct {
		   display:none;
		}
		
		.primaryContent {
			padding-left: 20px !important;
	}
   }
   
     @media screen and (max-width: 603px) {
	    .org-struct {
		   padding-left:0px !important;
		}
		
        .org-struct .body{
		   font-size:0.625em;
		}
   }
  
  @media screen and (min-width: 1024px) {
	  /* h2 {
	     font-size:18px !important
	 }
	 
	 h3 {
	     font-size:14px !important;
	 } */
	 
	 .primaryContent {
	   /* width:50%; */
	   margin:0px!important;
	   margin:0 !important;
	   /* font-size:0.875em!important; */
	   padding-left:30px;
	   padding-right:30px !important;
	 } 
	 
	.teamPrimaryContent {
		  width:100%;
		}
		
	.primaryContentRight {
		 width: 50%;
		}
		
	.org-struct {
		   font-size:0.917em !important;
		   width:66% !important;
		}
		
		.contactPrimaryContent {
		    margin-left: 430px !important;
		}
		
		#mapContact {
		   width:100%;
		}
		
		#mapContact #contactMap {
		   /* width: 69%;
			height: 50%; */
			width: 413px;
			height: 307px;
		}
		
		.contactSidebar {
		   width:35% !important;
		   padding-left: 5% !important;
		}
		/* .contactPage {
		   width:40%;
		   padding-left: 2.8%;
		}
		
		#contactPageLeft {
			padding-left:5%;
		    clear:both;
		} */
		
		/*

		#mapContact #contactMap {
			width: 50% !important;
			height: 50% !important;
			float: left;
			margin-bottom: 2%;
		} */
		
		#leftSidebar {
			width: 35%;
			}
  }
  
  @media screen and (max-width: 801px) {
	 /* h2 {
	     font-size:18px !important
	 }
	 
	 h3 {
	     font-size:14px!important;
	 } */
	#content-title{
		padding-left: 0px;
		margin-left: 7.5%;
		display:none;
	}
	#leftSidebar {
	  padding: 0px !important;
	  max-width: 100%;
	  margin-left:7.5%;
	  margin-right:7.5%;
	}
	.linksLeft, .my-well, #content-title, .my-well-content {
		/*padding-left: 7.75%;*/
	}
	.my-well, .my-well-content{
		width:85%;
	}
	#leftSidebar, .primaryContentRight{
		width: 100%;
	}
	
	#eip-team-org-sidebar {
	   padding-left:0px;
	}
	 
	 .my-well {
	    margin-bottom: 10px;
		padding-bottom:19px;
	 }
	
	.with-mywell {
		padding: 0px !important;
	}
	 
/* 	.primaryContentRight {
		padding: 7.75%;
	} */
	
	.with-my-well {
	   padding:0px !important;
	}
	
	#map, .sidebarimage, .primaryContentImage {
		display: none;
	}
	
	.sidebarImgWrapper {
	    margin-top:0px;
	}
	
	.personnel {
	   display:block;
	   width:45%;
	   height:25%;
	}
	
	.border-right {
	   border:0px;
	}
	
	.primaryContent, .primaryContentRight {
	   padding-left:7.75%;
	   padding-right:6%;
	   text-align:justify;
	   /*margin:0px!important;*/
	   width:85% !important;
	}
	
	.primaryContent {
		padding-left: 20px !important;
	}
	#dueDiligenceContent.primaryContent,#dueDiligenceContent.pressPrimaryContent{
		padding-left: 0 !important;
		padding-right:0 !important;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	#dueDiligenceContent.pressPrimaryContent ol li{
	}
	 .primaryContent  #dueDiligenceContent{
	    width:100%;
	  }
	  
	  .keyFeatures {
	     width:100%;
		 font-size:0.917em;
		 text-align:none;
	  }
	  
	  #banner img {
	     width:100%;
		 overflow: hidden
	  }
	  
	  	footer p,footer ul{
		   /*font-size: 0.50em;*/
		}
		
		footer p{
			padding-left: 15px;
		}
		
		#dueDiligenceContent{
			margin-left: 7.5% !important;
			margin-right: 7.5% !important;
			border-top: 1px solid #BABABA;
			width: 85% !important;
		}
		
		#teamContent{
		   width: 100% !important;
		   margin-left:2%;
		}
		
		/* .pressPrimaryContent ol {
		   font-size:1.167em;
		} */
		
		.org-struct {
		  /*  font-size:0.667em !important;
		   width:100% !important; */
		   display:none;
		}
		
		.org-struct .head {
		    width: 20%;
			color: #ffffff;
			float: left;
			margin-right:10px;
			}
			
			.teamPrimaryContent .body{
			   width:100% !important;
			}

		#top-org-struct {
				margin-left:35% !important;
		   }		
	 
		.contactPrimaryContent {
		   padding:0px !important;
		 }
		
		.contactPrimaryContent  #contentContactMap {
		   width:100%;
		}

		#mapContact {
				width:100% !important;
				/*padding-bottom: 60%;*/
				max-width: 100%;
		   }

		#mapContact #contactMap{
			width:100%;
		  }
		  
		 .contactPage {
		     width:100%;   
             padding-bottom: 0px!important;			 
		  }
        
       .org-struct .head {
		   margin: auto;
         width: 252px;
         padding-right: 10px;
         padding-bottom: 10px;
         text-align: center;
         display: block;
         margin-left: 210px;
        /*  background:blue; */
      }
	  
	.eip-team-org-struct {
			padding:0px 0px 0px 0 !important
      }
	  
	  .primaryContent .org-struct .head {
	      margin-left: 25% !important;
	  }
      
      .org-struct .head li{
         background-color: #344964;
         padding: 10px 10px 10px 10px;
         text-align: center;
         color: #fff;
         font-size: 1.0em;
         margin: 0 0 5px 0;
         font-family: 'pt_sansregular';
      }
      
      .primaryContent .org-struct thead td {
         color: #2B343F;
         font-size: .9em !important;
         font-family: 'pt_sansregular';
      }
      
      .primaryContent .org-struct thead td {
         color: #2B343F;
         font-size: .9em !important;
         font-family: 'pt_sansregular';
      }
      
      .primaryContent .org-struct td {
         padding: 8px 10px !important;
         color: #FFFFFF;
         text-align: center;
         font-size: 0.833em;
         padding: 5px 10px !important;
         height: 0px;
         width: 0px;
         margin: 27px 0;
         border: 5px solid #fff;
      }
	  .primaryContent{
		padding-left:0 !important;
		padding-right:0 !important;
		margin-left:7.5%;
		margin-right:7.5%;
	  }
		#content.contact_mobile .primaryContent,#content.contact_mobile{
			margin-left:0;
			margin-right:0;
			margin-bottom:0 !important;
			padding-bottom:0 !important;
			width:100% !important;
		}
		#footer-menu{
			line-height:2;
		}
/*       
      #content .eip-team-org-struct {
         padding-bottom: 227px !important;
      } */
}

/* @media screen and (min-width:801px){
    /*  h2 {
	     font-size:18px !important
	 }
	 
	 h3 {
	     font-size:14pt !important;
	 } */
	 
	/*    .org-struct .body,   .org-struct  {
		  font-size:0.667em !important;
	   }
	   
	   .org-struct {
	   width:57%!important;
	   }
	   
	   .body {
		  width:100% !important;
		}
	   
	   #top-org-struct {
		  width:45% !important;
		  margin-left: 29% !important;
	   }
	   
	  .contactPrimaryContent {
		   padding:0px !important;
		 }
		
		.contactPrimaryContent  #contentContactMap {
		   width:70%;
		} */

	/* 	#mapContact {
			width:100% !important;
			height:250px !important;
		   } */

		/*#mapContact #contactMap{
			width: 100%;
			height: 75%;
			float: left;
			margin-bottom: 2%;
		  } */
		  
		 /*  .teamPrimaryContent {
		     width:100%;
		  }
		  
		  .my-well {
		   width:85%;
		   padding: 20px 5px 88px 6px !important;
		   /* font-size:0.875em; */
		/* } */ 
/* } */ 
	
@media screen and (max-width:479px) {
	footer{
		/* height: 65px; */
		
	}
	footer p, footer ul {
		/* text-align: center;
		width: 100%;
		font-size: 0.500em; */
		padding-bottom:3px !important;
	}
	footer #footer-menu {
		padding-top: 3px;
	}
	 .org-struct {
		   display:none;
		}
}
  
@media screen and (max-width:532px) {
		footer p,footer ul{
		  /*  font-size: 0.667em; */
		}
		
		footer p{
			padding: 5px;
			padding-left: 15px;
		}
		
	#content-title {
		   line-height:initial;
		}
		
    #leftSidebar {
		min-width:0px !important;   
	}
	#content{
		margin-bottom:10%;
	}
		.keyFeatures {
	     width:100%;
		 font-size:0.667em;
	  }
	  
	  .keyFeatures td {
	   padding-left:2px !important;
	  }
	  
	  .keyFeatures .leftColumn {
	  padding-right:2px;
	  }
	}